/* global */

* {
    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 1px;
}

* {
    box-sizing: border-box;
}

.height-50px {
    height: 50px;
}

header .border-bottom {
    border-color: #d7eaff;
}

.flex-row {
    flex-direction: row;
}

.width-60 {
    width: 60%;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.pt-3rem {
    padding-top: 3rem;
}

.pb-3rem {
    padding-bottom: 3rem;
}

.p-rl-3rem {
    padding: 0px 3rem;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.d-flex {
    display: flex;
}

.d-lg-block {
    display: block;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity));
}

.d-none {
    display: none;
}

.lh-1 {
    line-height: 1;
}

.me-5 {
    margin-right: 3rem;
}

.mb-1-5rem {
    margin-bottom: 1.5rem;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.mb-16px {
    margin-bottom: 16px;
}

.mb-3rem {
    margin-bottom: 3rem;
}

.mt-3rem {
    margin-top: 3rem;
}

.mr-3rem {
    margin-right: 3rem;
}

.pt-1-5rem {
    padding-top: 1.5rem;
}

.pb-1-5rem {
    padding-bottom: 1.5rem;
}

.mt-0px {
    margin-top: 0px ;
}

.mb-0px {
    margin-bottom: 0px;
}

.p-rl-12px {
    padding: 0px 12px;
}

.flex-column {
    flex-direction: column;
}

.text-decoration-none {
    text-decoration: none;
}

.color-green {
    color: #5cc19a;
}

.bg-red {
    background-color: rgba(238, 156, 156, 0.4);
}

.color-yellow {
    color: #dbca68;
}

.bg-green {
    background-color: rgba(156, 238, 204, 0.4);
}

.color-blue {
    color: #5b94d7;
}

.bg-blue {
    background-color: rgba(221, 236, 251, 0.4);
}

.bg-yellow {
    background-color: rgba(238, 226, 156, 0.4);
}

.color-red {
    color: #b95e73;
}

.fw-700 {
    font-weight: 700;
}

.fw-300 {
    font-weight: 300;
}

.fw-500 {
    font-weight: 500;
}

.fs-2-5rem {
    font-size: 2.5rem;
}

.fs-1-5rem {
    font-size: 1.5rem;
}

.card-link {
    height: 100%;
    width: 100%;
    position: absolute;
    text-decoration: none;
}

.width-45 {
    width: 45%;
}

.text-align {
    text-align: center;
}

.laby {
    font-size: 1.5rem;
    text-decoration: none;
}

.lab-text {
    width: 41%;
}

.fs-37px {
    font-size: 37px;
}

.card {
    text-decoration: none;
    width: 30% ;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.fs-1-25rem {
    font-size: 1.25rem;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.button-modern {
    width: 10%;
}

.align-items-flex-end {
    align-items: flex-end;
}

/* container */

.container {
    color: #1a232f;
    font-size: 13px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

/* body */

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* navbar */

.discord-header-button {
    font-size: 12px;
    padding: 6px 10px;
}

.dc {
    text-decoration: none;
    color: #989ca2;
    background-color: rgba(152, 156, 162, 0.15);
    border-color: rgba(152, 156, 162, 0.15);
    border-radius: 50rem;
    vertical-align: middle;
    border: 1px solid;
    text-align: center;
    display: flex;
}

.navbar-main {
    padding: 8px 0px;
    height: 80px;
}

.navbar-brand {
    padding: 5px 0px;
    margin-right: 16px;
}

.navlink {
    text-decoration: none;
    color: #1a232f;
    padding: 8px;
    font-weight: 500;
}

.navmenu {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: 3rem;
    text-align: center;
}

.navmenu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.margin-16 {
    margin-right: 16px;
    text-decoration: none;
    text-align: left;
    display: inline-block;
}

.btn-primary {
    background-color: #3597ff;
    border-color: #3597ff;
    border-radius: 6px;
    font-size: 14px;
    padding: 12px 20px;
    color: #fff;
    font-weight: 400;
    border: 1px solid transparent;
    margin-left: 250px;
}

/* main page */

.main-page {
    margin-bottom: 3rem;
    background-color: #3597ff;
    position: relative;
}

.full-text {
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 42%;
}

.title {
    margin: 0px 0px 1.5rem 0px;
}

.text-under-subtitle {
    margin: 0px 0px 16px;
    font-size: 1rem;
}

.main-img {
    width: 542.84px;
    height: 418px;
}

.full-text-main-img {
    display: flex;
    align-items: center;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

/* why? */

.why {
    padding: 48px 0px;
}

.why-openlab {
    font-weight: 300;
    margin-bottom: 3rem;
    margin-top: 0px;
    font-size: 40px;
}

.openlab {
    font-weight: 700;
}

.why-text {
    color: #566b8d;
    margin: 0px 48px 16px;
    font-size: 16px;
}

.why-openlab-text {
    padding: 0px 12px;
    text-align: center;
}

.why-all {
    padding: 48px 12px 0px;
}

.subtitle {
    margin: 0px 0px 8px;
    font-size: 20px;
    color: #212529;
}

.subtitle_text {
    font-size: 14px;
    color: #566B8D;
    margin: 0px;
}

.subtitle_all {
    padding: 16px 0px;
}

.why-all {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* vision */

.vision_openlab {
    font-size: 40px;
    margin-bottom: 48px;
    margin-top: 0px;
    font-weight: 300;
}

.text_under_vision_1 {
    font-size: 16px;
    color: #566b8d;
    margin-top: 1.5rem;
    line-height: var(--bs-body-line-height);
}

.text_under_vision_2 {
    font-size: 16px;
    color: #566b8d;
    margin-bottom: 16px;
    margin-top: 0px;
    line-height: var(--bs-body-line-height);
}

.vision {
    padding: 48px 0px;
}

.type {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px ;
}

.count {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0.5rem;
    align-items: flex-end;
    width: 233px;
    height: 183px;
    border-radius: 4px;
}

.counts {
    justify-content: flex-end;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    flex-wrap: wrap;
    display: flex;
    width: 50%;
}

.number {
    font-size: 90px;
    margin-bottom: 4px;
}

